body {
    background-color: rgb(94, 175, 175);
}

#note {
    color: white !important;
    text-align: center;
    text-emphasis: strong;
    padding: 20px;
    margin: 0 auto;
    font-size: 50px;

}

#trainimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.MainContainer{
    margin: 0 auto;
}